*{
   
}
.app-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.qr-img
{
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1) ;
}
.input-lable
{
display: block;
margin-bottom: 8px;
color: grey;
font-size: 15px;
font-weight: 500;
}
input[type="text"]
{
   
}
button{
    padding: 15px 20px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="text"]:focus
{
    margin: 11px;
    border-color: aqua;
    

}